<h3>BD管理</h3>

<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">BD管理</div>
      <div class="panel-body">
        <table class="table table-striped table-hover" role="grid">
          <thead>
          <tr role="row">
            <th>id</th>
            <th>名称</th>
            <th>昵称</th>
            <th>店铺数量</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr role="row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="c in bdList">
            <td>{{c.bdid}}</td>
            <td>{{c.bdname}}</td>
            <td>{{c.nickname}}</td>
            <td>{{c.shops.length}}</td>
            <td class="op">
            <i class="fa fa-trash" ng-click="selectBD(c.bdid);" bs-popover data-template="confirmRemoveBD.html" data-animation="am-flip-x"></i>
              <a ui-sref="shuwo.bd.shop.list({id:c.bdid})" tooltip="店铺列表"><i class="fa fa-list"></i></a>
          </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
